# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE specific
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Project specific
harbor.json
Caddyfile

# Logs
*.log

# Dependencies
/vendor/

# Binary output
/harbor
/dist
